{% extends 'authenticate/base.html' %}

{% block content %}

<h2 class="text-center" >Regiseter </h2>

<div class="col-md-6 offset-md-3"></div>
    <form method ="POST" action="{% url 'register' %}">
        {% csrf_token %}
        {% if form.errors %}
        <div class="alert alert-warning alert-dismissable" role="alert">
                <button class="close" data-dismiss="alert">
                    <small><sub>x</sub></small>
                </button>
                <p>Your Form Has Errors ...</p>
                
                {% for field in form %}
                    {% if field.errors %}
                        {{ field.errors }}
                    {% endif %}
                {% endfor %}

            </div>   
        {% endif %}

        {{ form.as_p }}
        <input type="submit" value="Edit Profile" class="btn btn-secondary">
    </form>
</div>


{% endblock %}